@model IEnumerable<DailyDairyAuto.Models.CowDatum>

@{
    ViewData["Title"] = "Index";
}

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<title>View Animal</title>
<!-- plugins:css -->
<link rel="stylesheet" href="~/css/vendors/mdi/materialdesignicons.css" asp-append-version="true">
<link rel="stylesheet" href="~/css/vendors/flag-icon-css/css/flag-icon.css" asp-append-version="true">
<link rel="stylesheet" href="~/css/vendors/Css/vendor.bundle.base.css" asp-append-version="true">
<link rel="stylesheet" href="~/css/vendors/font-awesome/font-awesome.min.css" asp-append-version="true" />
<link rel="stylesheet" href="~/css/vendors/bootstrap-datepicker/bootstrap-datepicker.min.css" asp-append-version="true">

<!-- End plugin css for this page -->
<!-- inject:css -->
<!-- endinject -->
<!-- Layout styles -->
<link rel="stylesheet" href="~/css/style.css" asp-append-version="true">
<link rel="stylesheet" href="~/css/site.css" asp-append-version="true">
<!-- End layout styles -->
<link rel="shortcut icon" href="~/images/favicon.png" />

<div class="container-scroller">

    <div class="content-wrapper">

        <div class="row">

<div class="col-lg-12 grid-margin stretch-card">

<div class="card">

    <div class="card-body">


    <div class="card-title">
        <h1>Animals</h1>

<p>
    <a class="btn btn-primary" style="float:right;margin-bottom:20px" asp-action="Create">Add Animal</a>
</p>
 

     
<table class="table table-bordered">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CowId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Age)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Breed)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Vaccinated)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AvgMilkProd)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Group)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>

@foreach (var item in Model) {
        <tr>
             <td>
                @Html.DisplayFor(modelItem => item.CowId)
             </td>
            <td>
                @Html.DisplayFor(modelItem => item.Age)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Breed)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Vaccinated)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AvgMilkProd)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Group.GroupId)
            </td>
            <td>
                 <a class="btn btn-primary" asp-action="Edit" asp-route-id="@item.CowId">Edit</a>
                 <a class="btn btn-primary" asp-action="Details" asp-route-id="@item.CowId">Details</a>
                 <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.CowId">Delete</a>    
            </td>
        </tr>
}
    </tbody>
</table>

        </div>
</div>

</div>

</div>

</div>
</div>
</div>